version: "3.8"
services:
  mysql-container:
    image: mysql:8
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: your_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - mysql-container

  service1:
    build: ./service1
    container_name: service1
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - mysql-container

  service2:
    build: ./service2
    container_name: service2
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
      - mysql-container

volumes:
  mysql_data:
